/*
 * Basic Page Styles
 * @see normalize and gridless projects
 */
html
{
	height: 100%;
	font-size: 100%;
	overflow-y: scroll; /* Force a scrollbar in non-IE */
	-webkit-text-size-adjust: 100%; /* Remove iOS text size adjust without disabling user zoom */
}

body
{
	margin: 0;
	min-height: 100%;
}

body, button, input, select, textarea
{
	font: 16px/1.625 Arial, sans-serif;
	*font-size: 1em; /* IE7 and older: IE can't resize px based text and most mobiles don't default the text to 16px */
	color: #222;
}
